# Build Directory
build/
bin/
obj/

# Compiler/Output files
*.elf
*.hex
*.bin
*.map
*.o
*.d
*.su
*.lst

# IDE / Editor files
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
.clangd/
mx.scratch
CMakeUserPresets.json

# System files
.DS_Store
Thumbs.db